$blue: #4990c8;
$lightBlue: #b6dff5;
$gray: #4a5963;

$text: 'Roboto', sans-serif;
$title: 'Lora', serif;

@mixin font ($size, $name, $color){
  font-size: $size;
  font-family: $name, sans-serif;
  color: $color;
}

@mixin flex($derection, $position, $center){
  display: flex;
  flex-direction: $derection;
  justify-content: $position;
  align-items: $center;
}

@import 'common/adjustments';
@import 'common/main_header';
@import 'common/menu';
@import 'common/under_menu';
@import 'common/home_content';
@import 'common/footer';
@import 'common/pop-up_menu';
@import 'common/about_content';
@import 'common/obits-content';
@import 'common/services_content';
@import 'common/contacts_content';
@import 'common/feedbacks_content';
@import 'common/preplan_content';
@import 'common/obits-single';
@import 'common/header_common';
@import 'common/1500';
@import 'common/920';
@import 'common/768';
@import 'common/480';

