section.about__content
    .about__container
        .about__top-desc
            .about__title About us
            .about__title-desc
                .about__title-desc-p
                    p.
                        In this part of our website, we didn't want copywriters to do their work.
                        This is a part when we would like to say something from the bottom of our hearts.
                        Simply want you to know, in our funeral home during the difficult time of the
                        great loss, you will never see those fake sad faces. We are local, we are family
                        and we treat every single one as a part of our family.
        .about__slider-small_device
            ul.about__slider-small_device--list
                li.about__slider-small_device--item.active-slide
                    img(src="/assets/img/chapel-m.jpg" alt="funeral home chapel").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/limo-m.jpg" alt="funeral home hears").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/lobby-m.jpg" alt="funeral lobby").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/conf.jpg" alt="funeral conference room").about__slider-small_device--img
            ul.about__slider-small_device--dots
                li.about__slider-small_device--dots_item.active-dot
                li.about__slider-small_device--dots_item
                li.about__slider-small_device--dots_item
                li.about__slider-small_device--dots_item
            .about__slider-small_device--btn
                img(src="/assets/img/icons/play.png" alt="arrow in circle").about__slider-small_device--icon
            .about__slider-team Meet our team
        .about__bg-slider
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap
                    img.about__employee-pic(src="/assets/img/mila_new.jpg" alt="piece of heaven employee" title="Mila Katsnelson")
                .about__employee-persinfo-name Mila
                .about__employee-persinfo-lastname Katsnelson
                .about__employee-persinfo-position Owner
                .about__employee-persinfo-desc
                    p.
                        Mila began her career in the funeral home business after the loss of her brother in 2003. Her family had
                        an unpleasant experience with the funeral home provider and she was inspired to open "Piece of Heaven", since
                        its inception, she has helped more than a thousand families plan a lasting tribute for their loved ones.
        .about__bg-slider.about__bg-slider--lobby
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap.about__employee-picwrap--right
                    img.about__employee-pic(src="/assets/img/andrey.jpg" alt="piece of heaven employee" title="Andrey Kostka")
                .about__employee-persinfo-name Andrey
                .about__employee-persinfo-lastname Kostka
                .about__employee-persinfo-position Funeral director
                .about__employee-persinfo-desc
                    p.
                        Andray, Mila's nephew joined "Piece of Heaven" in 2015 from New York. As a funeral director, he enjoys every aspect of funeral
                        planning and working with families to provide exceptional service. He is a detail-oriented family man with a beautiful wife and daughter
        .about__bg-slider.about__bg-slider--limo
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap
                    img.about__employee-pic(src="/assets/img/anatolii.jpg" alt="piece of heaven employee" title="Andrey Kostka")
                .about__employee-persinfo-name Anatolii
                .about__employee-persinfo-lastname Tupkalo
                .about__employee-persinfo-position Manager
                .about__employee-persinfo-desc
                    p.
                        Anatolii hails from Ukraine and is a specialist in Monument/Memorial construction
                        and design. His behind-the-scenes support makes "Piece of Heaven" operations
                        run smoothly and efficiently. Since he joined our home in 2018, families
                        have remarked that his care compassion and attention to detail made a
                        difference.


