article.conatcs__content
    .contacts__title Contacts
    .contacts__content-wrap
        .form__wrap#contact-form
            .contact-form__title  Get in touch
            .contact__form-alert
                form#contact_form.contact-form
                    .contact-box__error
                    input.contact-form__input(type="text" placeholder="name" name="name")
                    input.contact-form__input(type="text" placeholder="phone" name="phone")
                    input.contact-form__input(type="mail" placeholder="email" name="email")
                    textarea.contact-form__message(placeholder="text" name="message")
                    input.contact-from__button(type="button" value="submit" name="button")
        ul.contact__list
            li.contact__list-item 303-369-9500
            li.contact__list-item 303-369-8382 (fax)
            li.contact__list-item.contact__list-item--padding pieceofheavendenver@yahoo.com
            li.contact__list-item 10200 E Mississippi Ave.
            li.contact__list-item Denver CO, 80247
    .map__over-line please feel free to call us day or night
    .map__display#map



