.feedbacks__content-wrap
    .feedbacks__content-title What people say about us
    .feedback__content-box
        .feedbacks__content-item
            .feedbacks__item-name Name
            .feedbacks__item-text
                p.
                    some text Some of the deceased's family members may be able to receive
                    Social Security benefits if the deceased person worked long enough under
                    Social Security to quality for benefits.
            .feedbacks__item-date 00.00.2019
        .feedbacks__content-item
            .feedbacks__item-name Name
            .feedbacks__item-text
                p.
                    Some of the deceased's family members may be able to receive
                    Social Security benefits if the deceased person worked long enough
                    under Social Security to quality for benefits.
            .feedbacks__item-date 00.00.2019
        .feedbacks__content-item
            .feedbacks__item-name Name
            .feedbacks__item-text
                p.
                    Some of the deceased's family members may be able to receive
                    Social Security benefits if the deceased person worked long enough
                    under Social Security to quality for benefits.
            .feedbacks__item-date 00.00.2019
    .feedbacks__form-title leave your feedback here
    .feedbacks__form-alert
        form#feedbacks_form.feedbacks__form
            .box__error
            input.feedback-form__input(type="text" placeholder="name" name="name")
            input.feedback-form__input(type="date" placeholder="date" name="date")
            textarea.feedback-form__message(placeholder="text" name="message")
            input.feedback-from__button(type="button" value="submit")


