.footer
    .footer__wrap
        .footer__top
            ul.footer__menu
                -
                    var footerMenuData = [
                    ['home', 'index.html'],
                    ['about', 'about.html'],
                    ['obituaries', 'obits.html'],
                    ['services', 'services.html'],
                    ['pre-planning', 'pre-planning.html'],
                    ['feedback', 'feedbacks.html'],
                    ['contacts', 'contacts.html'],
                    ['monuments', 'http://pieceofheavenmonuments.com/']
                    ]

                each item in footerMenuData
                        li.footer-menu__item
                            a(href=`${item[1]}`).footer-menu__link #{item[0]}
            .footer__refer
                .footer__refer-wrap
                    a.footer__refer-link(target="_blank" href="https://lucysflower.com")
                        img.footer__refer-icon(src="/assets/img/icons/icon-flower.png" alt="icon flower")
                        .footer__refer-text Order flowers
                .footer__refer-wrap
                    a.footer__refer-link(target="_blank" href="https://www.facebook.com/Piece-of-Heaven-103653934880984/?modal=admin_todo_tour")
                        img.footer__refer-icon(src="/assets/img/icons/fb-white.png" alt="icon flower")
                        .footer__refer-text Visit our FB page
                .footer__refer-wrap
                    a.footer__refer-link(target="_blank" href="https://samarkanddenver.com")
                        img.footer__refer-icon(src="/assets/img/icons/dinner.png" alt="icon dinner")
                        .footer__refer-text Memorial dinner
        .footer_btm
            .footer__btm-company-name &#169; Piece of Heaven Funeral and Cremation Services, LLC
            .footer__copyrights   Created by Anatolii Tupkalo for "Piece of Heaven"

