section.home__content
    h3.home__main-tile Welcome to Piece of Heaven Funeral Home
    .home__top-title
        .home__top-title-wrap
            .top-title__desc Contact us today if you have experienced a loss and we will put your mind at peace.
            .top-title__desc-text Piece fo Heaven is a family-owned and operated Funeral Home since 2003. It is never easy to lose a loved one, let us give you peace of mind in knowing we can coordinate and plan every aspect of your loved one's funeral. We will take care of everything and work with you to honor their wishes
            .top-title__buttons
                a(href="/services.html").top-title__link  what we offer
                a(href="/obits.html").top-title__link.top-title__link--margin upcoming services
        .home__top-services
            .home__top-services-wrap
                .home__top-services-icon-wrap
                    img.home__top-services-icon(src="assets/img/icons/is.png" alt="international funeral shipment")
                .home__top-services-text International shipment
            .home__top-services-wrap
                .home__top-services-icon-wrap
                    img.home__top-services-icon(src="assets/img/icons/ww.png" alt="all religion funeral")
                .home__top-services-text Any religion services
            .home__top-services-wrap
                .home__top-services-icon-wrap
                    img.home__top-services-icon(src="assets/img/icons/m.png" alt="memorial design")
                .home__top-services-text Memorial design
    .obits__home-title Recent obituaries
    .obits__slider-wrap
        .home-page__obits-arrow-left
            .obits__arrow-icon-wrap
                img.obits__arrow-icon(src="assets/img/icons/obits_slide-l.png" alt="arrow left")
        .home-obits__list-wrap
            .obits__item-bg-wrap.obits__item-bg-wrap--left
                img.obits__list-bg(src="assets/img/home_obits_bg.png" alt="funeral page background")
            ul.home_obits__list
                li.home_obits__item
                    .obit__img-wrap
                        img(src="#" alt="funeral home eulogy picture").obit__img
                    .obit__firstname
                    .obit__lastname
                    .obit__date
                    .obit__link-wrap
                        a(href="#").obit__link view
                li.home_obits__item.home_obits__item--middle
                    .obit__img-wrap
                        img(src="#" alt="funeral home eulogy picture").obit__img
                    .obit__firstname
                    .obit__lastname
                    .obit__date
                    .obit__link-wrap
                        a(href="#").obit__link view
                li.home_obits__item
                    .obit__img-wrap
                        img(src="#" alt="funeral home eulogy picture").obit__img
                    .obit__firstname
                    .obit__lastname
                    .obit__date
                    .obit__link-wrap
                        a(href="#").obit__link view
            .obits__item-bg-wrap.obits__item-bg-wrap--right
                img.obits__list-bg(src="assets/img/home_obits_bg_r.png" alt="funeral page background")
        .home-page__obits-arrow-right
            .obits__arrow-icon-wrap
                img.obits__arrow-icon(src="assets/img/icons/obits_slide-r.png" alt="arrow left")


