header.main_header
    .main_header__container
        .main_header__bg
            picture
                source(srcset="/assets/img/bg.jpg" media="(min-width: 1200px)")
                source(srcset="/assets/img/bg_s.jpg" media="(min-width: 920px)")
                img.main_header__bg-pic(src="assets/img/bg_xs.jpg" alt="heaven")
        .top_line
            .top_line__content
                .top_line__phone
                    .top_line__fb-icon
                        a(href="https://www.facebook.com/Piece-of-Heaven-103653934880984/?modal=admin_todo_tour").fb__icon-link
                            img.fb__icon(src="assets/img/icons/fb-header2.png" alt="phone icon")
                    .top_line__phone-icon
                        img.phone__icon(src="assets/img/icons/phone.png" alt="phone icon")
                    .top_line__phone-text 303-369-8382
                .top_line__lang
                    .lang__en EN
                    a(href="http://pieceofheavenfuneralhome.ru.com").lang__rus RUS
        .main_header__title
            .main_header__title-picwrap
                picture
                    source(srcset="/assets/img/main-title.png" media="(min-width: 1200px)")
                    source(srcset="/assets/img/main-title.png" media="(min-width: 768px)")
                    img.main_header__title-pic(src="assets/img/main-title.png" alt="funeral home logo" title="funeral and cremation services")
            h1.main_header__title-maindesc Funeral home
            h2.main_header__title-secdesc Affordable funeral and cremation services
        .header__arrow-down
            img.header__arrow-down-img(src="assets/img/icons/arrow_down.png" alt="arrow down")



