section.services__content
    .services__title Services
    .services__main-desc
        .services__main-section-text.services__main-section-text--paddingtop
            p.
                Our caring and professional staff are here to support you. We offer a wide range of personalized services
                to suit your family’s wishes and requirements. Whether it is a traditional casket funeral or cremation
                with memorial service, you can count on us to assist you every step of the way.
        ul.services__hilight-list
            li.services__hilight-list-item Basic burial
                strong $1995
            li.services__hilight-list-item Basic cremation
                strong $895
            li.services__hilight-list-item  We accept Life Insurance Policies and Social Security Death Benefits
        .services__main-section-text
            p.
                We offer a complete range of high-quality services that are tailored to your family’s individual needs.
                Whether in our beautiful on-site Chapel or in your own house of worship, we will be there to coordinate
                all services and arrangements.
        ul.services__hilight-list
            li.services__hilight-list-item  Jewish funeral packages
            li.services__hilight-list-item  Christian funeral packages
            li.services__hilight-list-item  Cremation packages
        .services__main-section-text
                p.
                    Our staff is professionally trained in assisting all faiths and cultures.
                    We are fully versed in international customs and traditions for burial rites.
                    We take great pride in serving our ethnic communities and our staff is fluent
                    in multiple languages: English, Russian, and Ukrainian.
    .services__tabs-container
        ul.services__tabs-list
            li.services__tabs-item.tabs__title-active
                .services__tabs-title Cremation
            li.services__tabs-item
                .services__tabs-title Prices
            li.services__tabs-item
                .services__tabs-title SS service
        ul.services__tabs-cont-list
            li.services__tabs-cont-item.content__item-active
                .services__tabs-content
                    .cremation__content
                        p.
                            Cremation is chosen by many families and individuals as an affordable alternative
                            to traditional burial. It is selected for many reasons, ranging from religious beliefs and
                            customs to environmental concerns. There is a wide variety of options for the final disposition
                            of cremated remains, such as a niche, columbaria, mausoleum, or scattering
                            Direct Cremation (no service) : $895 complete. Includes pick-up from a place of passing,
                            authorizations and paperwork, cremation fee, container, minimum urn, 1 copy of death
                            certificate with filing. There are no hidden costs or fees.
                            Additional services for Direct Cremation (optional): viewing,
                            memorial service in our beautiful Chapel, casketing and cosmetics,
                            catered reception and service folders, etc.
                        p.
                            Direct Cremation (no service) : $995 complete. Includes: pick-up from place of passing,
                            authorizations and paperwork, cremation fee, container, minimum urn, 1 copy of death certificate
                             with filing. There are no hidden costs or fees.
                        p.
                            Additional services for Direct Cremation (optional): viewing, memorial service in our
                            beautiful Chapel, casketing and cosmetics, catered reception and service folders, etc.
            li.services__tabs-cont-item
                .services__tabs-content
                    .gen-price__content
                        .gen-price__desc
                            p for the complete price list of our services and merchandise please call us at 720-862-8865 or use
                            a(href="/contacts.html")  form request
                            p to have one provided
                        .price-list
                            .price-list__names
                                p Body removal:
                                p Caskets:
                                p Urns:
                                p Casketing and cosmetics:
                                p Embalming:
                                p Chapel:
                                p Funeral director & staff:
                                p Hearsing:
                                p Rental casket and attributes:
                            .price-list__price
                                p $195
                                p $1200 and up
                                p $65 and up
                                p $495
                                p $895
                                p $400
                                p $210
                                p $225
                                p $595
                            .price-list__desc
                                p (addition charge may apply if 30 miles out of FH location, and if weight of body is over then 300lb)
                                p (compete prise list can be provided)
                                p (compete prise list can be provided)
                                p -
                                p (additional charge may apply in case of autopsy - in the amount of $200)
                                p (additional charge may apply for the renting chapel on weekend and holidays or after work time - in the amount of $300)
                                p -
                                p -
                        .price-list--s
                            -
                                var priceList = [
                                ['Body removal -', '$195', '(inside of 30ml around area, if weight of body is not over that 300lb)'],
                                ['Caskets - ', '$1200 and up', '(compete prise list can be provided)'],
                                ['Urns - ', '$65 and up', '(compete prise list can be provided)'],
                                ['Casketing and cosmetics - ', '$495', ''],
                                ['Embalming - ', '$895', '(in case of autopsy plus $200)'],
                                ['Chapel - ', '$400', '(renting chapel on weekend and holidays or over work time plus $300)'],
                                ['Funeral director & staff - ', '$210', ''],
                                ['Hearsing - ', '$225', ''],
                                ['Rental casket and attributes - ', '$595', '']
                                ];
                            each item in priceList
                                .price-list__price-wrap
                                    .price-list__name--s #{item[0]}
                                    .price-list__price--s #{item[1]}
                                .price-list__desc--s #{item[2]}
                        .gen-price_-worrning !!! these prices are subject to change
            li.services__tabs-cont-item
                .services__tabs-content
                    .services__content-wrap
                        .ss__picter-wrap
                            img(src="/assets/img/SSI_logo.png").ss__pic
                        .ss__text
                            p.
                                Some of the deceased's family members may be able to receive
                                Social Security benefits if the deceased person worked long enough
                                under Social Security to qualify for benefits.
                        .ss__text-inner-list
                            .ss__text-inner-list-wrap
                                p Who could be qualified
                                -
                                    var ssInnerList = [
                                    '- A widow or widower age 60 or older (age 50 or older if disabled)',
                                    '- A surviving spouse at any age who is caring for the deceased,s child under age 16 or disabled',
                                    '- An unmarried child of the deceased who is younger than age 18 (or age 18 or 19 if he or she is a full-time student in an elementary or secondary school); or age 18 or older with a disability that began before age 22',
                                    '- Parents, age 62 or older, who were dependent on the deceased for at least half of their support, and a surviving divorced spouse, under certain circumstances'
                                    ]
                                each item in ssInnerList
                                    .ss__inner-list-item #{item}
                        .ss__text
                            a(href="https://www.ssa.gov/benefits/survivors/") The Social Security website
                            p.
                                Is a valuable resource for information about all of Social Security's
                                programs. There are a number of things you can do online. In addition to using the
                                Social Security website, you can call them toll-free at 1-800-772-1213.




