@media(max-width: 768px){
  .main_header__title{
    height: 280px;
  }
  .main_header__container{
    min-height: 580px;
  }
  .top_line__phone-text{
    font-size: 18px;
  }
  .top_line__lang{
    font-size:14px;
  }
  .popup_menu__burger{
    top: 75px;
  }
  .main_header__title-maindesc{
    margin-bottom: 5px;
  }
  .main_header__title-secdesc{
    font-size: 12px;
  }

  .obits__title{
    padding: 25px 0 32px;
  }

//  --------------------------------------------------------------    footer

  .footer__menu{
    @include flex(row, center, center);
  flex-wrap: wrap;
  }
  .footer-menu__link{
    font-size: 14px;
  }
  .footer__refer{
    width: 90%;
  }
  .footer__refer-icon{
    width: 30px;
    height: 30px;
  }
  .footer__refer-link{
    font-size: 14px;
  }
  .footer__btm-company-name{
    font-size: 14px;
    text-align: center;
  }
  .footer__copyrights{
    font-size:9px;
  }
//  -------------------------------------------------------------------  about

  .about__top-desc{
    padding: 20px 5px;
  }
  .about__title-desc{
    width: 98%;
    font-size: 20px;
    line-height: 28px;
  }
  .about__employee-picwrap{
    float: none;
    margin: 0 auto;
  }
  //.about__employee-persinfo-name, .about__employee-persinfo-lastname{
  //  font-size: 32px;
  //}
  .about__employee-persinfo-desc{
    font-size: 22px;
  }
  .about__employee-persinfo-name, .about__employee-persinfo-lastname, .about__employee-persinfo-position, .about__employee-persinfo-desc{
    text-align: center;
  }
  .about__pic-wrap--limo{
    background-image: url('/assets/img/limo-xs.jpg');
  }
  .about__pic-wrap--lobby{
    background-image: url('/assets/img/lobby-xs.jpg');
  }
  .about__pic-wrap--chapel{
    background-image: url('/assets/img/chapel-xs.jpg');
  }
  .about__employee-persinfo{
    width: 98%;
  }
//------------------------------------------------------------------------  services
  .services__title{
    padding: 40px 0;
  }
  .services__tabs-cont-item{
    position: relative;
  }
}


