.main_header{
  height: 100vh;
}
.main_header__container{
  height: 100vh;
}
.main_header__bg{
  position: absolute;
  z-index: -9;
  width: 100%;
}
.main_header__bg-pic{
  width: 100%;
}
.top_line {
  margin-bottom: 20vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.top_line__content{
  padding: 10px 300px;
  @include flex(row, space-between, center);
}
.top_line__phone{
  @include flex(row, center, center);
}
.top_line__fb-icon{
  margin-right: 5px;
  width: 50px;
  height: 50px;
  &:hover{
    opacity: .7;
  }
}
.fb__icon{
  width: 100%;
}
.top_line__phone-icon{
  width: 50px;
  height: 50px;
}
.phone__icon{
  width: 100%;
  height: 100%;
}
.top_line__phone-text{
  color: #fff;
  margin-left: 20px;
  font-size: 32px;
}
.top_line__lang{
  @include flex(row, center, center);
  @include font(22px, $text, #fff);
}
.lang__rus{
  color: #fff;
  padding: 0 7px;
  margin-left: 10px;
  opacity: .7;
  &:hover{
    color: #fff;
    opacity: 10;
  }
}
.lang__en{
  color: #fff;
  padding: 0 7px;
  border: 1px solid;
}

//---------------------------------------------------- header title ----------------------------------

.main_header__title-picwrap{
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}
.main_header__title-pic{
  width: 100%;
}
.main_header__title{
 height: 50vh;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main_header__title-wrap{
  max-height: 600px;
}
.main_header__title-maindesc{
  opacity: 0;
  @include font(36px, $title, #fff);
  margin-bottom: 15px;
}
.main_header__title-secdesc{
  @include font(16px, $text, #fff);
  opacity: 0;
}
.header__arrow-down{
  position: absolute;
  right: 50%;
  margin-left: -20px;
  bottom: 20px;
  width: 40px;
  height: 30px;
  transition: .3s;
}
.header__arrow-down-img{
  padding: 5px 5px;
  width: 100%;
 }
