.menu{
  width: 100%;
  z-index: 200;
}
.menu__fixed{
  opacity: .7;
  position: fixed;
  top: 0;
}
.menu__list{
  z-index: 9999;
  width: 100%;
  @include flex(row, center, center);
}

.menu-item{
  overflow: hidden;
  position: relative;
  text-align: center;
  background: $blue;
  width: 13%;
  border-right: 1px solid #fff;
  transition-duration: .3s;
  border-bottom: 4px solid transparent;
  &:hover{
    background: $lightBlue;
  }
}
.menu-item-active{
  background: #ce8a47;
}
.pseudo_element{
  position: absolute;
  top: -9px;
  left: -9px;
  margin-left: 50%;
  width: 18px;
  height: 18px;
  background: #FFB91F;
  transform: rotate(45deg);
}
.menu__link{
  display: block;
  padding: 9px 0 5px 0;
  @include font(14px, $text, #fff);
  transition-duration: .3s;
  &:hover{
    color: $gray;
  }
}
