extends ../_template

block variables
    - var title = 'Piece fo Heaven funeral home/about';
    - var jsfileName = '/assets/js/about.js';
    - var map = '#';
block content
    .popup_menu__burger
        img.popup_menu__burger-icon(src="assets/img/icons/burger_w.png" alt="menu icon")
    include ../common/pop-up_menu
    include ../common/header_common
    .main-container
        include ../common/menu
        include ../common/about_content
    include ../common/footer

