extends ../_template

block variables
  - var title = 'Piece fo Heaven funeral home';
  - var jsfileName = '/assets/js/index.js';
  - var map = '#';

block content
  .popup_menu__burger
      img.popup_menu__burger-icon(src="assets/img/icons/burger_w.png" alt="menu icon")
  include ../common/pop-up_menu
  include ../common/main_header
  .main-container
    include ../common/menu
    include ../common/home_content
  include ../common/footer

