extends ../_template

block variables
    - var title = 'Piece fo Heaven funeral home/pre-planning';
    - var jsfileName = '/assets/js/pre-planning.js';
    - var map = '#';
block content
    .popup_menu__burger
        img.popup_menu__burger-icon(src="assets/img/icons/burger_w.png" alt="menu icon")
    include ../common/pop-up_menu
    include ../common/header_common
    .main-container
        include ../common/menu
        include ../common/preplan_content
    include ../common/footer

